{% extends "layout.html.twig" %}

{% block fos_user_content %}
	<div>

		<h2>
			Connectez-vous !
		</h2>

		<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		    <label for="username">Pseudo : </label>
		    <input type="text" class="form-control" placeholder="Pseudo" id="username" name="_username" value="{{ last_username }}" required="required" />

		    <label for="password">Mot de passe : </label>
		    <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="_password" required="required" />

		    <div class="checkbox">
	          <label>
	            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Se souvenir de moi
	          </label>
	        </div>

		    <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="Se connecter" >Se connecter</button>
		</form>

	</div>

	{% if error %}
		<br>
		<div class="panel panel-default">
		  <div class="panel-heading">Erreur : </div>
		  <div class="panel-body bg-danger">Identifiants invalides.</div>
		</div>
	    <!--<p class="bg-danger">
	    	{{ error.messageKey|trans(error.messageData, 'security') }}
	    </p>-->
	{% endif %}

{% endblock fos_user_content %}
