{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div id="page-wrapper">
		<h2> 
			<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
			Bienvenue {{ user.username }} !<br /><br /> 
		</h2>
		<p>
			<a class="btn btn-primary" href="/">Retourner à l'accueil</a>
		</p>
	</div>

{% endblock fos_user_content %}
