<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">

    <title>Page d'administration</title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/angryprogrammersblog/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/angryprogrammersblog/css/morris.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/angryprogrammersblog/css/sb-admin.css') }}" rel="stylesheet" />
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Page d'administration</a>
            </div>

            <ul class="nav navbar-right top-nav">
                <li>
                    <a> {{user}}</a>
                </li>
				<li>
					<a href="/logout"><i class="fa fa-fw fa-power-off"></i> Déconnexion</a>
				</li>
            </ul>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Articles</a>
                    </li>
					<li>
                        <a href="/admin/new"><i class="fa fa-fw fa-bar-chart-o"></i> Ajouter un article</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div id="page-wrapper">

            <main class="container-fluid">
                {% block contenu %}
                {% endblock %}
            </main>

        </div>

    </div>

</body>

</html>
