{% extends 'base.html.twig' %}

{% block contenu %}
	<p>
		<h2>
			<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			Oops ! Cette page n'existe pas ...
		</h2>
	</p>
	<p>
		<a class="btn btn-primary" href="/">Retourner à l'accueil</a>
	</p>
{% endblock %}